
{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}


<div class="teaserimage">
    <div class="teaserimage-image" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}" style="background-image: url({{@blog.logo}})">{{@blog.title}}</a>{{/if}}
    <h1 class="blog-title">{{@blog.title}}</h1>
    <h2 class="blog-description">{{@blog.description}}</h2>
    <div class="custom-links">
        <a href="/about/">About the Site</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/aboutme/">Meet the Author</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/contact/">Contact</a>
    {{!--</div> --}}
    {{!-- Insert the search form --}}
    <br><br>
        <form>
           <input type="text" id="st-search-input" class="st-search-input" />
        </form>  
        <div id="st-results-container"></div>
    </div>
<br/>  
</header>

<script>
    (function ($) {
        "use strict";

        $(document).ready(function(){

            var $window = $(window),
                $image = $('.teaserimage-image');
            $window.on('scroll', function() {
                var top = $window.scrollTop();

                if (top < 0 || top > 1500) { return; }
                $image
                    .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
                    .css('opacity', 1-Math.max(top/700, 0));
            });
            $window.trigger('scroll');

        });

    }(jQuery));
</script>

{{! The main content area on the homepage }}

{{! I have pulled out the Featured posts part...which is basically the below with a index-headline h5. The foreach way listing them blows hard. Waiting for ghost to implement a better way of doing them. }}

<main class="content" role="main">

    <h5 class="index-headline-index normal"><span>Latest Posts</span></h5>

    <div class="cf frame">
    {{#foreach posts}}
        {{#if featured}}
        {{else}}
            <article class="{{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                <div class="article-item">
                    <header class="post-header">
                        <h2 class="post-title" itemprop="name"><a href="{{url}}" itemprop="url">{{{title}}}</a></h2>
                    </header>
                    <div class="post-meta-index">{{tags suffix="; " separator=", "}} <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></div>
                    <section class="post-excerpt" itemprop="description">
                        <p style="margin-top: 5px;">{{excerpt characters="245"}}&hellip;</p>
                    </section>
                </div>
            </article>
        {{/if}}
    {{/foreach}}
    </div>


    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>

<footer class="site-footer">
    <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip"> Subscribe!</span></a>
    <div class="inner">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org"> Ghost</a></section>
         Themed via self-modified <a href="http://www.svenread.com/readium-ghost-theme/">Readium</a> by <a href="http://www.svenreed.com/">Sven Reed</a><br>
         <a href="/blog-disclaimer">Disclaimer, Terms, and Privacy</a>
    </div>
</footer>
